.contact-cta {
  padding-bottom: 4rem;
}
.contact-section {
  .overlap-left-down {
    right: 60px;
    top: 25px;
  }
  .overlap-left-up {
    right: 60px;
    bottom: 25px;
  }
  .contact-phone-text {
    text-align: center;
    font-weight: 200;
  }
}

.pad-left {
  padding-left: 2px;
}
